@media (max-width: 1440px) {
        .social {
                margin: 0px 10px 0px 10px;
        }

        #nav {
                .offset-7 {
                        margin-left: $col_1_width * 6.5;
                }
                .col-05 {
                        width: $col_1_width/1.25;
                }
        }

}
