@media (max-width: 768px) {
        .about-div,
        .dsnxdvp {
                width: $col_1_width * 10;
                margin-left: $col_1_width;
                transition: ease 0.25s;
        }

        .social {
                margin: 0px 15px 0px 15px;
        }

        .spacer {
                height: 20px;
        }

        #menu-btn {
                display: inline !important;
                color: white;
        }
}

@media (min-width: 768px) {
        .tagline {
                width: 530px;
        }
}
