#construction-body {
        #logo {
                width: 40px;
                margin-top: 20px;
        }

        #construction {
                margin-top: 354px;
                width: 540px;
        }

        .wrapper {
                display: table;
                width: 100%;
                background: rgba(0, 0, 0, 0.54)!important;
                height: 1008px;
        }

        * {
                box-sizing: border-box;
        }

        .video-background {
                background: #000;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -99;
                opacity: 0.6;
        }

        .video-foreground,
        .video-background iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
        }

        #vidtop-content {
                top: 0;
                color: #fff;
        }

        .vid-info {
                position: absolute;
                top: 0;
                right: 0;
                width: 33%;
                background: rgba(0, 0, 0, 0.3);
                color: #fff;
                padding: 1rem;
                font-family: Avenir, Helvetica, sans-serif;
        }

        .vid-info h1 {
                font-size: 2rem;
                font-weight: 700;
                margin-top: 0;
                line-height: 1.2;
        }

        .vid-info a {
                display: block;
                color: #fff;
                text-decoration: none;
                background: rgba(0, 0, 0, 0.5);
                transition: .6s background;
                border-bottom: none;
                margin: 1rem auto;
                text-align: center;
        }

        @media (min-aspect-ratio: 16/9) {
                .video-foreground {
                        height: 300%;
                        top: -100%;
                }
        }

        @media (max-aspect-ratio: 16/9) {
                .video-foreground {
                        width: 300%;
                        left: -100%;
                }
        }

        @media all and (max-width: 600px) {
                .vid-info {
                        width: 50%;
                        padding: .5rem;
                }
                .vid-info h1 {
                        margin-bottom: .2rem;
                }
        }

        @media all and (max-width: 500px) {

                .vid-info .acronym {
                        display: none;
                }
        }

        p {
                color: #fff;
        }

        #big {
                height: 768px;
        }

        [class*="col-"] {
                float: left;
                height: 80px;
                padding-left: 0%;
        }

        .row:before,
        .row:after {
                clear: both;
                content: "";
        }

        .row {
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
        }

        .col-12 {
                width: 100%;
        }

        /* FOOTER */
        #footer {
                width: 100%;
                padding-top: 40px;
                padding-bottom: 40px;
                margin-bottom: -5px;
                float: left;
                position: fixed;
                bottom: 0;
        }

        #footer-content {
                width: 164px;
                margin: 0 auto;
        }

        .social-icon {
                color: #fff;
        }

        ul.social-icons {
                margin-top: 10px;
                display: inline;
        }

        .social-icons li {
                display: inline;
        }

        .social-icons a {
                color: #fff;
                text-decoration: none;
        }

        .fa-linkedin {
                padding: 10px 12px;
                -o-transition: .25s;
                -ms-transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                transition: .25s;
                color: #262938;
                background-color: #fff;
        }

        .fa-linkedin:hover {
                color: white;
                background-color: #3d5b99;
        }

        .fa-twitter {
                padding: 10px 11px;
                -o-transition: .25s;
                -ms-transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                transition: .25s;
                color: #262938;
                background-color: #fff;
        }

        .fa-twitter:hover {
                color: white;
                background-color: #00aced;
        }

        .fa-behance {
                padding: 10px 9.5px;
                -o-transition: .25s;
                -ms-transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                transition: .25s;
                color: #262938;
                background-color: #fff;
        }

        .fa-behance:hover {
                color: white;
                background-color: #053eff;
        }

        .fa-youtube {
                padding: 10px 11.5px;
                -o-transition: .25s;
                -ms-transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                transition: .25s;
                color: #262938;
                background-color: #fff;
        }

        .fa-youtube:hover {
                color: white;
                background-color: #cc181e;
        }

        @media (max-width: 1920px) {}

        @media (max-width: 1440px) {}

        @media (max-width: 1024px) {}

        @media (max-width: 768px) {
                .tagline {
                        width: 370px;
                        margin-top: 0px;
                }

                #about-text {
                        width: 90%;
                        margin: 5%;
                }
        }

        @media (max-width: 440px) {}
}
