form {
        float: left;
        width: 100%;
        color: white;
}

.form-element {
        width: 100%;
        border: 1px $white solid;
        background: $transparent;
        color: $white;
        text-align: center;
        font-family: $rokkitt;
        padding: 5px 0px 5px 0px;
}

.btn {
        font-family: $rokkitt;
        color: $white;
        background: $transparent;
        border: 1px $white solid;
        border-radius: 0px;
}

#contact {
        width: 100%;
}

#thanks {
        background: $thanks;

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $thanks;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $white;
                background: $thanks;
        }
}

#error {
        background: $kanyered;

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $kanyered;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $white;
                background: $kanyered;
        }
}
