#slide {
        width: 0%;
        height: 275%;
        z-index: 1000;
        position: absolute;
        transition: ease 0.75s;

}

.new-balance-body {
        color: $newbalance;
        background: $gunmetal;

        .fa-angle-down {
                color: $newbalance;
        }

        .fa-angle-down:hover {
                color: $white;
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $gunmetal;
                background: $newbalance;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $newbalance;
                background: $gunmetal;
        }
}

.wolf-body {
        color: $black;
        background: $wolf;

        .fa-angle-down {
                color: $black;
        }

        .fa-angle-down:hover {
                color: $white;
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $black;
                background: $wolf;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $wolf;
                background: $black;
        }
}

.frank-body {
        color: $frank;
        background: $white;

        .fa-angle-down {
                color: $frank;
        }

        .fa-angle-down:hover {
                color: rgba(238, 27, 49, 0.5);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $frank;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $frank;
                background: $white;
        }
}

.solar-plan-body {
        color: $solarplan;
        background: $white;

        .fa-angle-down {
                color: $solarplan;
        }

        .fa-angle-down:hover {
                color: rgba(255, 137, 0, 0.5);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $solarplan;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $solarplan;
                background: $white;
        }
}

.solent-pizza-body {
        color: $solentpurple;
        background: $solentgold;

        .fa-angle-down {
                color: $solentpurple;
        }

        .fa-angle-down:hover {
                color: $white;
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $solentgold;
                background: $solentpurple;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $solentpurple;
                background: $solentgold;
        }
}

.corpwellsol-body {
        color: $black;
        background: $white;

        .fa-angle-down {
                color: $black;
        }

        .fa-angle-down:hover {
                color: rgba(0, 0, 0, 0.5);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $black;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $black;
                background: $white;
        }
}

.kanye-body {
        color: $kanyegold;
        background: $kanyered;

        #bottom {
                background: $kanyered;
        }

        .fa-angle-down {
                color: $kanyegold;
        }

        .fa-angle-down:hover {
                color: $white;
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $kanyered;
                background: $kanyegold;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $kanyegold;
                background: $kanyered;
        }
}

.gutenberg-body {
        color: $white;
        background: $gutenberg;

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: $white;
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $gutenberg;
                background: $white;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $white;
                background: $gutenberg;
        }
}

.zest-body {
        color: $white;
        background: $zest;

        #bottom {
                background: $zest;
        }

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $zest;
                background: $white;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $white;
                background: $zest;
        }

        .grid-img {
                -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
                -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
        }
}

.boiling-point-body {
        color: $white;
        background: rgb(24, 40, 73);
        background: -moz-linear-gradient(45deg, rgba(24, 40, 73, 1) 0%, rgba(75, 107, 182, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(24, 40, 73, 1) 0%, rgba(75, 107, 182, 1) 100%);
        background: linear-gradient(45deg, rgba(24, 40, 73, 1) 0%, rgba(75, 107, 182, 1) 100%);
        background-size: 110%;

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube,
        button {
                color: $white;
                background: $boilingpoint;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover,
        button {
                color: $boilingpoint;
                background: $white;
        }
}

.pixel-plan-body {
        color: $white;
        background: rgb(49, 49, 146);
        background: -moz-linear-gradient(45deg, rgba(49, 49, 146, 1) 25%, rgba(234, 1, 140, 1) 80%);
        background: -webkit-linear-gradient(45deg, rgba(49, 49, 146, 1) 25%, rgba(234, 1, 140, 1) 80%);
        background: linear-gradient(45deg, rgba(49, 49, 146, 1) 25%, rgba(234, 1, 140, 1) 80%);

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $pixelplan;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $pixelplan;
                background: $white;
        }
}

.phoenix-resourcing-body {
        color: $white;
        background: rgb(235, 52, 73);
        background: -moz-linear-gradient(45deg, rgba(235, 52, 73, 1) 0%, rgba(244, 92, 67, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(235, 52, 73, 1) 0%, rgba(244, 92, 67, 1) 100%);
        background: linear-gradient(45deg, rgba(235, 52, 73, 1) 0%, rgba(244, 92, 67, 1) 100%);
        background-size: 110%;


        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $phoenix;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $phoenix;
                background: $white;
        }
}

.casa-doro-body,
.casa-doro-body #bottom {
        color: $white;
        background-color: $background;
        background-image: url("../img/casa-doro/casa-doro-background.png");
        background-size: 1920px;
        background-attachment: fixed;

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $black;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $black;
                background: $white;
        }
}

.ghost-body {
        color: $black;
        background-color: $background;
        background-image: url("../img/ghost/ghost-background.png");
        background-attachment: fixed;

        .fa-angle-down {
                color: $black;
        }

        .fa-angle-down:hover {
                color: rgba(0, 0, 0, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $white;
                background: $black;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $black;
                background: $white;
        }
}

.schoolboy-body {
        color: $white;
        background: $schoolboy;

        #bottom {
                background: $schoolboy;
        }

        .fa-angle-down {
                color: $white;
        }

        .fa-angle-down:hover {
                color: rgba(255, 255, 255, 0.55);
        }

        .fa-linkedin,
        .fa-twitter,
        .fa-behance,
        .fa-youtube {
                color: $schoolboy;
                background: $white;
        }

        .fa-linkedin:hover,
        .fa-twitter:hover,
        .fa-behance:hover,
        .fa-youtube:hover {
                color: $white;
                background: $schoolboy;
        }
}
