.about-link {
        color: $lightgrey;
        background: $white;
        font-weight: 400;
        text-decoration: none;
        transition: ease 0.25s;
        font-weight: bold;
}

.about-link:hover {
        display: inline;
        color: $gold;
        transition: ease 0.25s;
        background: transparent;
}

.tagline {
        width: 100%;
}

#about-text {
        color: $white;
        text-align: justify;
        text-align-last: center;
}
