$color1: #de151c;
$color2: #f4780d;
$color3: #ffdf00;
$color4: #62d924;
$color5: #1d86ef;
$color6: #8c35fd;
$color7: #fd72ff;

$background: #fefefe;


.color1 {
        background: $color1;
}

.color2 {
        background: $color2;
}

.color3 {
        background: $color3;
}

.color4 {
        background: $color4;
}

.color5 {
        background: $color5;
}

.color6 {
        background: $color6;
}

.color7 {
        background: $color7;
}
