$color1: #de151c;
$color2: #f4780d;
$color3: #ffdf00;
$color4: #62d924;
$color5: #1d86ef;
$color6: #8c35fd;
$color7: #fd72ff;

.color1 {
        background: $color1;
}

.color2 {
        background: $color2;
}

.color3 {
        background: $color3;
}

.color4 {
        background: $color4;
}

.color5 {
        background: $color5;
}

.color6 {
        background: $color6;
}

.color7 {
        background: $color7;
}


$gold: #fed040;
$white: #ffffff;
$platinum: #e6e6e6;
$black: #000000;
$lightgrey: #4a4a4a;
$grey: #525252;
$darkgrey: #242c35;
$fade: rgba(230, 230, 230, 0.2);
$transparent: rgba(0, 0, 0, 0);

$linkedin: #3d5b99;
$twitter: #00aced;
$behance: #053eff;
$youtube: #cc181e;
$gunmetal: #242c35;

$background: $black;
$newbalance: #00ff6c;
$wolf:#fed040;
$zest:#dc25a3;
$boilingpoint:#2e4576;
$phoenix:#eb3449;
$frank:#ee1b31;
$kanyegold:#fdba51;
$kanyered:#ed294a;
$gutenberg:#ff0000;
$solentpurple:#3e2f5b;
$solentgold:#f19c10;
$solarplan:#ff8900;
